@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display-swap');
@media only screen and (max-device-width: 900px) {
         .menu { width:700px; } 
    }
body{
    height: 500vh;
    margin-left:30px;
}
.todo{
    background-color: #002659;
}

.texto-menu{
    color: white;
}
.titulo-gps{
    color:#002659;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    color:#002659;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:3px 3px 0px #002659;
}
.text-center{
    text-align: center;
    color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
nav.menu-lateral{
    z-index: 1000;
    box-shadow: 3px 0px 0px #002659;
    width: 80px;
    height: 100%;
    background-color: #002659;
    padding: 0px 0px 0px 0%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
nav.menu-lateral:hover{
    width: 300px;
    transition: .5s;
}
.btn-expandir{
    width: 300px;
    padding-left: 10px;
    margin-left:10px ;
    margin-bottom: 20px;
}
.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
    font-size: 27px;
    margin-left: 20px;
}
ul li.item-menu:hover{
    background-color: blue;
}
ul li.item-menu{
    transition: .5s;
}
.site-title {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #ccc;
}
.jumbotron{
    background-image:linear-gradient(100deg, rgba(0,38,89,1) 5%, rgba(255,255,255,0) 35%, rgba(255,255,255,0) 65%, rgba(0,38,89,1) 95%) ,url('fundo1.jpg');
    background-size: 100%;
    opacity: 95%;
    border-radius: 5px;
}
.titulo-site{
    color: white;
    font-size: 50px;
    margin-left: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo-site2{
    color: white;
    font-size: 30px;
    margin-left: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.margin-normal{
    margin-left: 90px;
}
.back-blue{
    background-color: #002659;
    color: white;
}
.radio1{
    display: grid   ;
    border-radius: 10px;
    border: 1px black;   
    color: white; 
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards1{
    margin-top: 20px;
}
.cards{
    margin-top: 30px;
}
.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}
.h_iframe{
    align-items: center;
}   